.Modal-SeleccionarCliente {
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 300px;
    text-align: center;
    color:aliceblue;
    justify-content: center;
    z-index: 9999;
  }
  
  div.card-header{
    background-image: url('../imagenes/carta.png');
    background-size:cover;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    text-align: center;
  }

  div.card{
    left: 25%;
    background: none;
  }

  #Entrada{
    text-align: center;
  }

  .Panel{
    flex-wrap: nowrap;
    flex-direction:column;
  }

  #Sumandos{
    font-size: 1.5em;
  }
  #Felicidades{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
  }

  #Tiempo{
    font-size: 2em;
    font-style: italic;
    font-weight: 500;
  }

  .Resultados{
    color: rgb(21, 255, 185);
  }

  .JuegoCompletado{
    background-color: rgba(91, 100, 50, 0.493);
    background-image: url('../imagenes/fireworks.png');
    background-position: -200px;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 300px;
    text-align: center;
    color:aliceblue;
    justify-content: center;
    z-index: 10000;
  }
  .JuegoCompletado::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.205); /* Configura el color de fondo semi-transparente */
    z-index: -1; /* Asegura que el pseudo-elemento esté detrás de todos los demás elementos */
  }

  .Ejercicios{    
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 200px;
      height: 200px;
      align-content: space-between;    
  }

  div.modal-body{
    margin: 0 auto;
    max-width: 90vw;
  }
    
  .Modal-SeleccionarCliente {
    background-image: url('../imagenes/gi-lumine-paimon-books.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* Estilos para los botones */
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Estilos para las imágenes en los botones */
  button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .sinResolver{
    background-color: #a03354;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }